body{
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: inline-block;
  
}
h1{
  font-weight: bold;
  font-size: 60px;
  color: #333333;
  font-style: inherit;
  margin: 18px;
}
p{
  color: #2f4f7f;
  font-size: 20px;
  margin: 18px;
  
}
 h3{
  font-size: 20px;
  margin: 18px;
  
}
form{
  background-color: #f7f7f7;
  padding: 10px;
  margin: 15px;
  border: 2px solid #444444;
  color: #2f4f7f;
}
label{
  display: inline-block;
  margin: 10px;
  text-align: justify;
  font-weight: 700;
}
input{
  width: 20%;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  margin: 12px;
  box-sizing: border-box;
  border-radius:8px;
}
.submit :hover{
  color: darkred;
}
.submit{
  margin-top: 30px;
  float: right;
}
textarea{
  display: block;
  height: 190px;
  padding: 8px 20px;
  margin: 15px;
  box-sizing: border-box;
  resize: none;
  font-size: 18px;
}
.history{
  display: flex;
  align-items: center;
}


